<%-include('head')%>
</head>
<body>
<form method='POST' action="/editDone/<%=data._id %>" enctype="multipart/form-data">
  <div style=" margin-left: 2rem; margin-top: 3rem; ">
      
          <label for="personName">Name:</label>
          <input type="text" id="personName" value ="<%=data.personName%>" name="personName" placeholder="Enter your name">
          <br><br>
          <label for="photo">Photo:</label>
          <input type="file" id="photo" name="photo" accept="image/jpg, image/jpeg, image/png">
          <br><br>
          <br><br>
          <label for="stId">Student ID:</label>
          <input type="text" id="stId" name="stId" value ="<%=data.stId%>" placeholder="Enter your student ID ">
          <br><br>
          <label for="deptName">Department: </label>
          <input type="text" id="deptName" name="deptName" value ="<%=data.deptName%>" placeholder="Enter your dept name">
          <br><br>
          Select gender:
          <input type="radio" id="male" name="gender" value="Male" >
          <label for="male">Male</label>&nbsp; &nbsp;
          <input type="radio" id="female" name="gender" value="Female">
          <label for="female">Female</label><br><br>
          <label for="contactNo">Contact No: </label>
          <input type="text" id="contactNo" value ="<%=data.contactNo%>" name="contactNo" placeholder="Enter your contact number">
          <br><br>
          <label for="address">Address:</label>
          <input type="text" id="address" value ="<%=data.address%>" name="address" placeholder="Enter your address">
          <br><br>
          <input type='submit' value='submit'>
  </div>
</form>
<a href="/">Back to Home</a>
</body>
</html>